# os
.DS_Store

# editor
.idea/

# projects
.cache/
.nuxt/
dist/
node_modules/
.env
package-lock.json
yarn.lock
yarn-error.log

# lwjgl
lwjgl/**/*.class
lwjgl/lib/

# dotnet-core
dotnet-core/**/bin
dotnet-core/**/obj
